@charset "UTF-8";


@media  screen  and (max-width:375px) {




body {
     background-image: linear-gradient( rgb(134, 73, 170),  rgb(162, 129, 192));
     background-attachment: fixed;
}

button {
    margin-top: 10px;
}


main { 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  

}

form {  
    width: 25px;
    color: white;
 
   
    

 
}


input {
    padding: 10px;
    display: flex;
    width: 150px;
    border: 3px solid rgb(113, 51, 172);
    border-left: 10px solid rgb(113, 51, 172);
    border-radius: 10px;
    background-color: rgba(202, 156, 245, 0.432);
    text-align: center;
    margin-left: 55px;
    margin-bottom: 10px;

   
}

input:hover {   
    background-color: rgba(107, 96, 163, 0.404);



   
}

#b-entrar {

    padding: 10px;
    width: 105px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 8.5px;
    margin-bottom: 5px;
    background-color: rgba(73, 61, 131, 0.719);
}

#b-entrar:hover {
    background-color:  rgba(89, 57, 119, 0.664);



}

#b-senha {
    padding: 10px;
    width: 105px;
    border-radius: 10px;
    border: 1px solid rgba(73, 61, 131, 0.719);
    color: rgba(73, 61, 131, 0.719);
    font-size: 8.5px;
    background-color: transparent;

}

#b-senha:hover {
    background-color: rgba(107, 96, 163, 0.404);


}

#carta {
    display: none;
}

#chave {
    width: 41px;
    margin-left: 21px;
    background-color:  rgb(113, 51, 172);
    position: absolute;
    border-radius: 10px 0px 0px 10px;
   


   

}

#pessoa {
    width: 41px;
    margin-left: 21px;
    position: absolute;
    background-color:  rgb(113, 51, 172);
    border-radius: 10px 0px 0px 10px;


   

}

#login {
    margin-top: 50px;
    background-color: white; 
    height: 455px;  
    width: 260px;
    margin-bottom: 50px;
    border-radius: 35px;
    overflow: hidden;



}

#img-city {
    display: none;
}

#imagem  {
    border-radius: 0% 0% 40% 40%;
    background-size: cover;
    height: 33%;
    overflow: hidden;
}

.imgs {
    margin-left: 15px;

}

h1 {
    margin: -7px;
}

p {
   text-align: left;
   margin: 15px;
}


} 
      
       
      
 