@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape){

    h1 {
       
    }
    p {
      
    }
    #login {
        padding-right: 10px;
        height: 35%;
        border-radius: 45px 0px 0px 45px;

      
      
       
      
    }

    button {
      
    }

    #img-city {
        display: block;
        width: 370px;
        border-radius: 0px 45px 45px 0px;
        height: 35%;
    }

    #imagem {
        display: none;
       
       


      
       
    }
    
}

