@charset "UTF-8";

@media  screen and (min-width: 992px) and (max-width: 1280px) {
 
    #login {
        width: 400px;
        padding-right: 10px;
        height: 49%;
        border-radius: 45px 0px 0px 45px;

      
      
       
      
    }

    button {
      
    }

    #img-city {
        display: block;
        width: 400px;
        border-radius: 0px 45px 45px 0px;
        height: 49%;
    }

    #imagem {
        display: none;
       
       


      
       
    }
    
}

