@charset "UTF-8";
@font-face {
    font-family: "Kaoly";
    src: url(../fontes/Kaoly\ Demo-Regular.ttf);
}

* {
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
  
  

}

h1 {
    font-family: "Kaoly";
}

body, html {
     background-image: linear-gradient( rgb(127, 69, 161),  rgb(199, 161, 235));
     height: 100vh;
     width: 100vw;
}


main {
    height: 100vh;
    width: 100vw;
    position: relative;
}


#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);


}

section#login > div#imagem {
    display: block;
    background:  rgb(127, 69, 161) url("../imagens/paisagem-noite.jpg");
    background-size: cover;  
    height: 200px;
}

section#login > div#formulario {
    padding: 10px;



}

