@charset "UTF-8";
@font-face {
    font-family: "Kaoly";
    src: url(../fontes/Kaoly\ Demo-Regular.ttf);
}


* {
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
  
  

}

.material-symbols-outlined {
  

}
input {
    width: 150px;

  
}

.campo {
    display: flex;
    margin-bottom: 10px;
}







h1 {
    font-family: "Kaoly";
}

p {
    margin-bottom: 10px;
}

body, html {
     background-color:  rgb(127, 69, 161);
     height: 100vh;
     width: 100vw;
}


main {
    height: 100vh;
    width: 100vw;
    position: relative;
}


#login {
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);


}

#login > #imagem {
     background-size: cover;
     background-color:  rgb(127, 69, 161);
     background-image: url("../imagens/paisagem-noite.jpg");
     background-position: left bottom;
     height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;



}

#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p {
    font-size: 0.8em;
}

#campo > #senha {
  

}

